.sidebar {
  flex: 0.3;
  max-width: 300px;
  padding-right: 20px;
}

.sidebar__compose {
  display: flex;
  align-items: center;
  flex-direction: row; 
  width: fit-content;
  block-size: fit-content;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  margin-left: 10px !important;
  color: black !important;
  padding: 10px 20px 10px 20px !important;
  border-radius: 30px !important;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.compose__Image{
    padding-right: 8px;
}

.compose{
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize; 
}

.sidebar__footer {
  display: flex;
  justify-content: center;
}
